
<div class="example-container">
    <mat-card>
        <mat-card-header >
            <mat-card-title>Add Fund Request</mat-card-title>
        </mat-card-header>
    <mat-form-field>
      <input matInput placeholder="Name of Patient">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Amount Needed">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Hospital Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Hospital Address">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contact">
      </mat-form-field>
      <mat-form-field>Enter Prescription
        <br><br>
        <input matInput placeholder="Reports" type="file">
        
      </mat-form-field>
      <div class="example-button-row">
            <button mat-raised-button color="primary">Submit</button>
          </div>
    </mat-card>
      
     
      
        
      
   
  
  