.example-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
  }
  
  .example-container > * {
    width: 100%;
  }
  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}