<mat-card>
  <mat-card-header>
    <mat-card-title>
      List
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <button mat-button mat-mini-fab color='primary' style="transform: translateX(-30px);">Fund</button>
        <mat-panel-title>
          Akshay
        </mat-panel-title>
        <mat-panel-description>
         Rs.100000
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="display: flex; flex-flow: row;">
      <div>
      <h4>Reason:</h4>
    </div>
    <div>
      <p>Content</p>
    </div>
  </div><br>
  <div style="display: flex; flex-flow: row;">
     <div> <h4>Hospital:</h4>
     </div>
     <div>
      <p>Name of Hospital </p>
      <p>Hospital Adress</p>
      <br>
        </div>

    </div>
    <div style="display: flex; flex-flow: row;">
      <div>
        <h4>Contact Details:</h4>
      </div>
      <div>
              <p>Contact number- <br>
        Email Id- </p> <br>
      </div> <br>
      </div>
     <button mat-stroked-button color='warm' >Download Prescription</button>




    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
